@model AdventureWorksBeta.Models.Product

@{
    ViewData["Title"] = "CreateProduct";
}

@{ 
    List<UnitMeasure> sizes = ((List<UnitMeasure>)ViewBag.SizeUnitMeasureCode);
    List<UnitMeasure> weights = ((List<UnitMeasure>)ViewBag.WeightUnitMeasureCode);
    List<ProductModel> models = ((List<ProductModel>)ViewBag.ProductModelId);
    List<ProductSubcategory> subs = ((List<ProductSubcategory>)ViewBag.ProductSubcategoryId);
    
}

<h1>CreateProduct</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="~/Product/AddProduct">

            <div class="form-group">
                <label class="control-label">Name</label>
                <input name="Name" class="form-control" />
                <span class="text-danger">This line of code is for validation </span>
            </div>
            <div class="form-group">
                <label class="control-label">Color</label>
                <input name="ProductNumber" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Color</label>
                <input name="Color" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Safety Stock Level</label>
                <input name="SafetyStockLevel" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Reorder Point</label>
                <input name="ReorderPoint" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Standard Cost</label>
                <input name="StandardCost" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">List Price</label>
                <input name="ListPrice" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Size</label>
                <input name="Size" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Size Measurement</label>
                <select class="form-control">
                    @foreach (UnitMeasure sizee in sizes)
                    {
                        <option name="sizee" value="@sizee.UnitMeasureCode">@sizee.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Weight Measurement</label>
                <select class="form-control">
                    @foreach (UnitMeasure weight in weights)
                    {
                        <option name="weightt" value="@weight.UnitMeasureCode">@weight.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Weight</label>
                <input name="Weight" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Days To Manufacture</label>
                <input name="DaysToManufacture" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">ProductLine</label>
                <input name="ProductLine" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Class</label>
                <input name="Class" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Style</label>
                <input name="Style" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Sub Category</label>
                <select class="form-control">
                    @foreach (ProductSubcategory sub in subs)
                    {
                        <option name="sizee" value="@sub.ProductCategoryId">@sub.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Model</label>
                <select class="form-control">
                    @foreach (ProductModel mod in models)
                    {
                        <option name="sizee" value="@mod.ProductModelId">@mod.Name</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label class="control-label">Start Date</label>
                <input type="datetime" name="SellStartDate" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">End Date</label>
                <input type="datetime" name="SellEndDate" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <label class="control-label">Discontinued Date</label>
                <input type="datetime" name="DiscontinuedDate" class="form-control" />
                <span class="text-danger">This code for validation</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

