@model List<AdventureWorksBeta.Models.Person>
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            People List
        </div>
        <div class="col-6">
            Add a person
        </div>

    </div>

    <br />
    <br />
    @{
        int currentPage = (int)ViewBag.CurrentPage;
        int totalPage = (int)ViewBag.TotalPage;
    }
    <h1>Page @(currentPage + 1)</h1>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Guid</th>
                    <th>Guid Business</th>
                </tr>
            </thead>
            <tbody>

                @foreach (AdventureWorksBeta.Models.Person p in Model)
                {
                    <tr>
                        <td style="width: 50%">@p.FirstName</td>
                        <td style="width: 50%">@p.LastName</td>
                        <td style="width: 50%">@p.Rowguid</td>
                        <td style="width: 50%">@p.BusinessEntity.Rowguid</td>
                    </tr>
                }
            </tbody>
        </table>


        
    if (currentPage != 0)
    {
    if (currentPage != 1)
    {
    <form action="~/Home/People" method="get" style="display:inline">
        <button type="submit" name="getPage" value="0">1</button>

    </form>
    if (currentPage != 2)
    {
    <p style="display:inline">...</p>
    }

    }


    <form action="~/Home/People" method="get" style="display:inline">
        <button type="submit" name="getPage" value="@(currentPage - 1)">@currentPage</button>

    </form>
    <form action="~/Home/People" method="get" style="display:inline">
        <button type="submit" name="getPage" value="@(currentPage)" disabled>@(currentPage + 1)</button>

    </form>

    }
    else
    {
    <form action="~/Home/People" method="get" style="display:inline">
        <button type="submit" name="getPage" value="@(currentPage)" disabled>@(currentPage + 1)</button>

    </form>
    }
    for (int i = currentPage + 1; i < currentPage + 5; i++)
    {
    int k = totalPage - currentPage;
    if (k >= 5)
    {
    <form action="~/Home/People" method="get" style="display:inline">
        <button type="submit" name="getPage" value="@i">@(i + 1)</button>

    </form>


    }
    else
    {
    for (int j = 0; j < k; j++)
    {
    if (i + j >= totalPage)
    {
    break;
    }
    <form action="~/Home/People" method="get" style="display:inline">
        <button type="submit" name="getPage" value="@(i+j)">@(i + j + 1)</button>

    </form>

    }
    break;
    }


    }

    if (currentPage + 5 < totalPage)
    {
    <p style="display:inline">...</p>
    <form action="~/Home/People" method="get" style="display:inline">
        <button type="submit" name="getPage" value="@(totalPage - 1)">@totalPage</button>
    </form>
    }
    }
    else
    {
    <h2>Nothing here!</h2>
    }

</div>